th { font-size: 18px; }
td { font-size: 18px; }

#problemstable {
    font-weight: normal;
}

#problemstable thead tr th{
    border-collapse:collapse ;
    border-bottom: none;
}

#problemstable tbody tr th{
    border-collapse:collapse ;
    border-top: 1px solid red;
}

#problemstable  tbody:before {
    content: "-";
    display: block;
    line-height: 0.8em;
    color: transparent;
}

