th { font-size: 18px; }
td { font-size: 18px; }

.table {
    font-weight: normal;
}

.table thead tr th{
    border-collapse:collapse ;
    border-bottom: none;
}

.table tbody tr th{
    border-collapse:collapse ;
}

.table  tbody:before {
    content: "-";
    display: block;
    line-height: 0.8em;
    color: transparent;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
