{% extends 'base.html' %}

{% block title %}MOONBOARD APP - Audio Visualization{% endblock %}

{% block content %}

    <div class="col-sm-8 col-centered">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">MOONBOARD Audio Visualization</h2>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button id="start-audio-visualization-btn" class="btn btn-default">Start</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
