##specific
.idea/
others/
moonBoardApp/static/.webassets-cache
moonBoardApp/static/img/current_problem.png

##Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#jupyter
.ipynb_checkpoints/*
.ipynb_checkpoints*
