appdirs==1.4.3
beautifulsoup4==4.5.3
BiblioPixel==3.4.44
bs4==0.0.1
click==6.7
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
Flask==1.0.2
Flask-Assets==0.12
Flask-SocketIO==2.8.5
greenlet==0.4.15
itsdangerous==0.24
MarkupSafe==1.0
olefile==0.44
packaging==16.8
pathlib==1.0.1
Pillow==6.0.0
pyparsing==2.2.0
python-engineio==3.5.1
python-socketio==4.0.0
requests==2.13.0
scandir==1.5
six==1.10.0
webassets==0.12.1
future==0.17.1
pyaudio==0.2.11