html,body {
	height:100%;
}

.container, .row {
	height:100%;
}

.flex-row, .flex-row > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:0 auto;
    height:100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}