</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOONBOARD LED APP</title>
    <meta name="description" content="Moonboard LED APP">

    <meta name="author" content="esr">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css')}}"/>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='moonboard.css')}}"/>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap2-toggle.min.css')}}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap2-toggle.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='moonboard.js')}}"></script>


    <nav class="navbar navbar-inverse container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MOONBOARDS LEDS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Problems</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>

<div class="container">
    <div class="panel panel-default ">
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-6">
                    
                    <table class='table' id="problemstable" >
                        <thead>
                        <tr>
                            {% for col in columns %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-6">
                    <!--<div>-->
                        <!--<img class=".img-responsive" style="width: 100%" src={{url_for('static', filename = "moonboard.png")}}>-->
                    <!--</div>-->

                        <table class='table' id="problem-holds" >
                            <thead>
                            <tr><h4><b>Holds</b></h4><th></tr>
                        </thead>
                            <tbody>
                            <tr>
                                <th><p>Start</p></th>
                                <th id="SH"></th>
                            </tr>
                            <tr>
                                <th><p>Intermediate</p></th>
                                <th id="IH"></th>
                            </tr>
                            <tr>
                                <th><p>Finish</p></th>
                                <th id="FH"></th>
                            </tr>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">Update problems</h3>
                </div>
                <div class="panel-body ">
                    bbb
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default flex-col">
                <div class="panel-heading">
                    <h3 class="panel-title"> MOONBOARD LEDS settings </h3>
                </div>
                <div class="panel-body flex-grow">
                    <div class="input-group">
                        <input id="toggle-led" checked data-toggle="toggle" data-on="LED ON" data-off="LED OFF" data-size="large" data-width="100" data-height="30" type="checkbox">
                        <span class="input-group-addon"><b>brightness:</b></span>
                        <input id="led-brightness" type="range" min="0" max="200" value="50" step="25" />
                    </div>
                    <p><a class="btn btn-default" href="#" role="button"> Test LEDS </a></p>

                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <hr>

    <footer>
        <p>da scrivere</p>
    </footer>
</div>


</body>
</html>