{% extends 'base.html' %}

{% block title %}MOONBOARD APP{% endblock %}

{% block content %}
<div class="row ">
    <div class="col-sm-10">
        <div>
            <a id= "delete-button" class="btn btn-default"   data-target="#">delete</a>
        </div>
    </div>
    <div class="col-sm-2">
        <div>
            <a id= "info-button" class="btn btn-primary disabled" style = "visibility:hidden"  data-toggle="modal" data-target="#info-modal">
                Problem <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
    <table class='table' id="favoritestable" >
        <thead>
        <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
    </div>
</div>
<div class="row ">
    <div class="col-sm-10">
        <div>
            <a id= "deleteall-button" class="btn btn-default"   data-target="#">delete all</a>
            <!--<a id= "load-button" class="btn btn-default"   data-target="#">load</a>-->
            <!--<a id= "dave-button" class="btn btn-default"   data-target="#">save</a>-->
        </div>
    </div>
</div>
{% endblock %}

{% block boardmodal %}
<div class="modal fade" id="info-modal" tabindex="-1" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <div class="row ">
                    <div class="col-sm-6 text-center">
                        <table class='table table-striped table-sm' >
                            <tr>
                                <th class="col-sm-3">Name</th>
                                <td id="problem-name"></td>
                            </tr>
                            <tr>
                                <th>Setup</th>
                                <td id="hold-setup"></td>
                            </tr>
                            <tr>
                                <th>Start</th>
                                <td id="SH"></td>
                            </tr>
                            <tr>
                                <th>Holds</th>
                                <td id="IH"></td>
                            </tr>
                            <tr>
                                <th>Finish</th>
                                <td id="FH"></td>
                            </tr>
                        </table>
                    <button class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                    <div class="col-sm-6">
                        <img id="board-modal-img" class="img-responsive" src="" width="90%" height="90%">
                    </div>
                </div>
            </div>
</div>
{% endblock %}