{% extends 'base.html' %}

{% block title %}MOONBOARD APP - Effects{% endblock %}

{% block content %}

    <div class="col-sm-8 col-centered">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">MOONBOARD Tests</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">
                    <a id="clear-btn" class="btn btn-default" role="button">Clear Wall</a>
                    <a id="sequence-test-btn" class="btn btn-default" role="button">Sequence Test</a>
                    <a id="matrix-calibration-btn" class="btn btn-default" role="button">Matrix Calibration</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">MOONBOARD Effects</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">
                    <a id="bloom-effect-btn" class="btn btn-default" role="button">Bloom</a>
                    <a id="matrix-rain-btn" class="btn btn-default" role="button">Matrix Rain</a>
                    <a id="matrix-rainbow-btn" class="btn btn-default" role="button">Matrix Rainbow</a>
                    <a id="mario-btn" class="btn btn-default" role="button">Mario</a>
                </p>
            </div>
        </div>
    </div>


{% endblock %}
